.vscode/
*.world
__pycache__/
*.bin
cruelandunusual/target
**/.DS_Store
/shelf/
/workspace.xml
/queries/
/dataSources/
/dataSources.local.xml
/httpRequests/
.idea/
*.log
/cruelandunusual/lib/com/EmacsIsBetterThanVi/AccountLib/current/AccountLib-current.jar
/AccountLib-current.jar
/cruelandunusual/lib/com/EmacsIsBetterThanVi/AccountLib/current/AccountLib-current.pom
/cruelandunusual/lib/com/EmacsIsBetterThanVi/AccountLib/maven-metadata-local.xml
